# Data types
## Numbers

In [ ]:
integer_number = 2
float_number  = 3.1416

In [ ]:
integer_number / 2

In [ ]:
float_number * 2

## Strings

In [9]:
name = "Alexander"
# f-strings
string_interpolated1 = f"{name} - {integer_number} - {float_number}"
# with placeholders
string_interpolated2 = "%s - %.3f - %d"%(name, float_number, integer_number)
# %s: strings - %d: integers/boolean - %f: floats
print(string_interpolated1)
print(string_interpolated2)

Alexander - 2 - 3.1416
Alexander - 3.142 - 2

In [10]:
string_interpolated1

'Alexander - 2 - 3.1416'

In [11]:
name.lower()

'alexander'

In [12]:
name.upper()

'ALEXANDER'

## Boolean

In [15]:
t = True
f = False
print(f"{t=}, {f=}")

t=True, f=False

## Lists
### Mutables

In [18]:
#       0    1     2     3
l = ["Alex", 2, 3.1416, True]
print(l)
print(l[0]) # Alex
print(l[1]) # 2
print(l[2]) # 3.1416
print(l[3]) # True

['Alex', 2, 3.1416, True]
Alex
2
3.1416
True

In [19]:
print(l[-1]) # True
print(l[-2]) # 3.1416
print(l[-3]) # 2
print(l[-4]) # Alex

True
3.1416
2
Alex

In [20]:
print(l[1:3]) # slices, from 1 to 2

[2, 3.1416]

In [21]:
print(l[1:4])

[2, 3.1416, True]

In [22]:
print(l[1:])

[2, 3.1416, True]

In [23]:
print(l[:2])

['Alex', 2]

In [24]:
print(l)
l[-1] = False 
print(l)

['Alex', 2, 3.1416, True]
['Alex', 2, 3.1416, False]

In [25]:
l2 = ("Alex", 2, 3.1416, True)
print(l2)

('Alex', 2, 3.1416, True)

In [27]:
# l2[-1] = False

## Dictionary

In [28]:
d = {
  "key1": "Hello",
  "key2": "World",
  "integer": 10,
  "float": 3.1416
}

In [29]:
d

{'key1': 'Hello', 'key2': 'World', 'integer': 10, 'float': 3.1416}

In [31]:
d["key1"]

'Hello'

In [32]:
print(d["key2"])

World

In [34]:
d["integer"] = 20
print(d["integer"])

20

In [35]:
d

{'key1': 'Hello', 'key2': 'World', 'integer': 20, 'float': 3.1416}

In [36]:
print(d["float"])

3.1416

In [37]:
d.keys()

dict_keys(['key1', 'key2', 'integer', 'float'])

In [38]:
d.values()

dict_values(['Hello', 'World', 20, 3.1416])

In [39]:
d.items()

dict_items([('key1', 'Hello'), ('key2', 'World'), ('integer', 20), ('float', 3.1416)])

In [40]:
l3 = ((1,2), ("a", "b"), (True, 3.1416), "A")
print(l3)

((1, 2), ('a', 'b'), (True, 3.1416), 'A')

In [50]:
l3[3]

'A'

In [51]:
string_as_list = "Alexander"

In [54]:
string_as_list[-3:]

'der'